<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Library</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/dispatcher-servlet.xml
			WEB-INF/security-context.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<!--<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>by.htp.liblary.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>-->
	<filter>
		<display-name>RegisterFilter</display-name>
		<filter-name>RegisterFilter</filter-name>
		<filter-class>by.htp.liblary.filters.RegisterFilter</filter-class>
		<init-param>
			<param-name>characterEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<url-pattern>/register</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>RegisterFilter</display-name>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>by.htp.liblary.filters.HibernateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/register_user</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/show_users</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/show_catalog</url-pattern>
	</filter-mapping>
	
	 <jsp-config>
  <taglib>
  <taglib-uri>
  /WEB-INF/tld/taglib.tld
  </taglib-uri>
  <taglib-location>
  /WEB-INF/tld/taglib.tld
  </taglib-location>
  </taglib>
  </jsp-config>
</web-app>